<div>
  @if (counters$ | async; as counters) {
    <button (click)="addCounter()">Add counter</button>
    <button (click)="resetAll()" [disabled]="counters.length === 0">Reset all</button>
    @if (counters.length === 0) {
      <p>No counters yet</p>
    } @else {
      @for (counter of counters; track counter.id) {
        <app-counter
          [counter]="counter"
          (increment)="increment(counter.id)"
          (decrement)="decrement(counter.id)"
          (reset)="reset(counter.id)"
          (remove)="remove(counter.id)"
        ></app-counter>
      }
    }
  }
</div>
