<div>
  @if (vm$ | async; as vm) {
    <p>Total counters: {{ vm.countersCount }} | Total count: {{ vm.totalCount }}</p>
    <button (click)="addCounter()">Add counter</button>
    <button (click)="resetAll()" [disabled]="!vm.hasCounters">Reset all</button>
    @if (vm.counters.length === 0) {
      <p>No counters yet</p>
    } @else {
      @for (counter of vm.counters; track counter.id) {
        <app-counter
          [counter]="counter"
          (increment)="increment(counter.id)"
          (decrement)="decrement(counter.id)"
          (reset)="reset(counter.id)"
          (remove)="remove(counter.id)"
        ></app-counter>
      }
    }
  }
</div>
